
* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 7fr 1fr;
    background-color: rgb(248, 248, 248); 
}

ul {
    list-style: none;
}

.header{
    font-size: 30px;
    font-weight: bolder;
    padding: 40px 20px 40px 20px;
    text-align: center;
    background: hsla(0, 0%, 84%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 84%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    box-shadow: 0 4px 2px -2px gray;
}

.bookForm {
    padding-top: 20px;
    text-align: center;
}

/* modal start */

#modalButton {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    padding:20px;
}

#modalButton:hover {
    background-color: rgb(229, 226, 226); 
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.modal {
    display:none;
    position:fixed;
    z-index:1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:240px;
    height:330px;
    border-radius: 20px;
    background-color: rgb(229, 226, 226); 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding:20px;
}

input {
    background-color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 5px 10px 5px;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
}

#newBookForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formTitle {
    align-self: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#newBookForm ul {
    padding: 0px;
}

#newBookForm ul li {
    align-self: flex-start;
    padding-top: 20px;
}

.haveYouReadText {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0px;
    text-align: center;
}

#haveRead {
    width:17px;
    height:17px;
    margin-left: 20px;
    position: relative;
    vertical-align: middle;
}

#submitButton {
    background-color: rgb(134, 228, 134);
    padding: 20px 40px 20px 40px;
    font-size:17px;
    font-weight:bold;
    border:none;
    border-radius: 5px;
    width:233px;
}

#submitButton:hover {    
    background-color: rgb(113, 201, 113);
    cursor:pointer;
}


/* modal end */

#libraryContainer {
    padding:20px 70px 20px 70px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap:20px;
    height:70%;
}

.myLibraryCards {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    gap:20px;
    background: hsla(180, 74%, 47%, 1);
    background: linear-gradient(90deg, hsla(180, 74%, 47%, 1) 0%, hsla(230, 67%, 76%, 1) 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-top: 40px;
    padding:20px;
    max-width: 300px;
    max-height: 250px;

}

.myLibraryCards button {
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.myLibraryCards button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer {
    font-size: 15px;
    padding: 50px 0 20px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}
