* {
    margin: 0;
}

:root {
    --main-background-color: #f1f5f9;
    --title-card-background: hsla(180, 74%, 47%, 1);
    --title-card-background-gradient:linear-gradient(90deg, hsla(180, 74%, 47%, 1) 0%, hsla(230, 67%, 76%, 1) 100%);
    --library-red: #f87171;
    --library-green: #4ade80;
    --library-green-hover: #22c55e;
    --box-radius: 20px;
    --button-radius: 10px;
    --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 7fr 1fr;
    background-color: var(--main-background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

ul {
    list-style: none;
}

.header{
    font-size: 40px;
    color: var(--main-background-color);
    font-weight: bolder;
    padding: 40px 20px 40px 20px;
    background: var(--title-card-background);
    background: var(--title-card-background-gradient);
    box-shadow: 0 2px 2px 0 rgb(209, 205, 205);
}

.addBookButton {
    padding-top: 20px;
}

/* modal start */

#modalButton {
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    padding:20px;
}

#modalButton:hover {
    background-color: rgb(229, 226, 226); 
    border: none;
    border-radius: var(--button-radius);
    padding: 20px;
    cursor: pointer;
}

.modal {
    display:none;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index:1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--box-radius);
    background-color: rgb(229, 226, 226); 
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 30px 60px 50px 60px;
}

input {
    background-color: var(--main-background-color);
    font-weight: bold;
    font-size: 17px;
    padding: 10px 5px 10px 5px;
    border: none;
    border-radius: var(--button-radius);
    flex-grow: 1;
}


.close {
    align-self: flex-end;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: var(--library-red);
    text-decoration: none;
    cursor: pointer;
}

#newBookForm ul {
    padding: 0px;
}

#newBookForm ul li {
    padding-top: 30px;
}

.haveYouReadText {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 0px;
}

#haveRead {
    width:17px;
    height:17px;
    margin-left: 20px;
    position: relative;
    vertical-align: middle;
}

#submitButton {
    background-color: var(--library-green);
    padding: 20px 40px 20px 40px;
    font-size:17px;
    font-weight:bold;
    border:none;
    border-radius: var(--button-radius);
    width:233px;
}

#submitButton:hover {    
    background-color: var(--library-green-hover);
    cursor: pointer;
}


/* modal end */

#libraryContainer {
    padding:20px 70px 20px 70px;
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    height:70%;
}

.myLibraryCards {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: bold;
    border-radius: var(--box-radius);
    gap:20px;
    background: var(--title-card-background);
    background: var(--title-card-background-gradient);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    width: 300px;
    height: 250px;
}

.myLibraryCards button {
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: var(--button-radius);
    border: none;
}

.myLibraryCards button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.footer {
    font-size: 15px;
    padding: 50px 0 20px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}
